#map {
  height: 100%;
}

#mapCanvas {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#infoWindow {
}

.infoWindowList {
	background-color: white;
	color: black;
	font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2% 0 2% 0;
}


#directionWindow {
	display: none;
	position: absolute;
	z-index: 99;
	width: 96%;
	height: 12%;
	border-radius: 5px;
	background-color: white;
	margin: 2%;
	color: black;
	font-size: 24px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.95;
}

#direction {
	height: 80%;
	margin: 2% 15% 0 5%;
	color: #4FD8C8;
}

#footerInfo {
	background-color: white;
	display: none;
	position: absolute;
	bottom: 0;
	z-index: 9;
	width: 100%;
	height: 12%;
	padding: 2%;
	opacity: 0.94;
}

.pathDisplayOptions {
	margin: 12% 0% 4% 0% !important;
	box-shadow: none !important;
}

#leftInfo {
	display: inline-block;
	width: 20%;
	height: 90%;
	margin-bottom: 1%;
	border-radius: 10px;
}

#midInfo {
	display: inline-block;
	width: 57%;
	height: 100%;
	border-radius: 10px;
}

#rightInfo {
	display: inline-block;
	width: 14%;
	height: 65%;
	margin-bottom: 4%;
	background-color: #f24a5e;
	border-radius: 10px;
}

#stopButton {
	position: absolute;
	height: 15px;
	width: 15px;
	top: 50%;
	left: 84.5%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 2px;
}

.speedInfo {
	color: black;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 11%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
}

.distanceInfo {
	color: black;
	position: absolute;
	top: 28%;
	transform: translate(-50%, -50%);
	left: 48%;
}

.ETAInfo {
	color: black;
	position: absolute;
	top: 72%;
	left: 48%;
	transform: translate(-50%, -50%);
}

.header {
	height: 50%;
	padding: 0 5% 0 5%;
}

body {
	background-color: #4FD8C8;
	background: linear-gradient(to right, #54d8a8, #4FD8C8);
	color: white;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.pathList {
	margin: 0 1px 0 1px;

}

.mdl-list__item {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.mdl-list__item-primary-content {
	font-weight: 700;
	color: #43bcae;
	padding: 0;
	text-transform: uppercase;

}

.noOfTurns {
	font-size: 14px;
	float: left;
	background-color: white;
	width: 50%;
	color: #00a592;
	text-align: center;
	margin-bottom: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.distance {
	font-size: 14px;
	float: right;
	background-color: white;
	width: 50%;
	color: #00a592;
	text-align: center;
	margin-bottom: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.footer {
	font-weight: 700;
	margin-top: 5%;
	margin-bottom: 0%;
	bottom: 0;
	text-align: center;
}

.headerTitle {
	margin-top: 5%;
	padding-left: 16%;
}

.navImg {
	max-width: 10%;
	height: auto;
	position: absolute;
	top: 2.5%;
	left: 6%;

}

.animalImg {
	position: absolute;
	max-width: 30%;
	height: auto;
	top: 32%;
	left: 10%;
}

.terrainImg {
	position: absolute;
	height: 240px;
	top: 22%;
	left: -23%;
	z-index: -1;
}

#displayMessage {
	background-color: white;
	color: #52cec0;
	text-align: center;
	padding: 10px 0 10px 0;
	border-radius: 10px;
	font-size: 15px;
	margin-top: 15%;
}

#bubble1 {
	background-color: white;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	margin-left: 40%;
}

#bubble2 {
	background-color: white;
	border-radius: 50%;
	height: 10px;
	width: 10px;	
	margin-left: 37%;

}

#startNavigation {
	position: fixed;
	bottom: 0;
	background: linear-gradient(white, #efefef);
	height: 25%;
	width: 96%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	margin-left: 2%;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectedPathTitle {
	color: #444444;
	font-weight: 500;
	margin: 8% 0 0 0;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}

.myButton {
	font-size: 20px;
	color: black;
	width: 50%;
	text-align: center;
	border-radius: 8px;
	padding: 4% 0 4% 0;
}

#cancelButton {
	position: absolute;
	bottom: 8%;
	width: 25%;
	background-color: white;
	left: 8%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#goButton {
	position: absolute;
	bottom: 8%;
	background-color: #4FD8C8;
	width: 55%;
	left: 38%;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#shadowDiv {
	display: none;
	position: fixed;
	z-index: 2;
	background: linear-gradient(to bottom right, #000000, #7a7a7a);
	opacity: 0.80;
	height: 100%;
	width: 100%;
}

#inputTitleField {
	display: none;
	position: fixed;
	height: 20%;
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	z-index: 10;
	border-radius: 10px;
	color: black;
	padding: 10%;
}

.setPointButton {
	position: fixed;
	z-index: 1;
	top: 42%;
	right: 2%;
	background-color: #aea2d8 !important;
}

.recenterButton {
	position: fixed;
	z-index: 1;
	top: 12%;
	right: 2%;
	background-color: #8770d8 !important;
}

.savePointButton {
	position: fixed;
	z-index: 1;
	top: 52%;
	right: 2%;
	background-color: #b7addb !important;
}

.exitButton {
	position: fixed;
	z-index: 1;
	right: 2%;
	top: 2%;
	background-color: #7e65d8 !important;
}

.undoButton {
	position: fixed;
	z-index: 1;
	right: 2%;
	top: 32%;
	background-color: #9f8fd6 !important;
}

.moveMarkerButton {
	position: fixed;
	z-index: 1;
	right: 2%;
	top: 22%;
	background-color: #907bd8 !important;
}

.cancelButton {
	display: block;
	position: absolute;
	left: 10%;
	border: 1px black solid;
	width: 40%;
}

.doneButton {
	display: block;
	position: absolute;
	right: 10%;
	border: 1px black solid;
	width: 40%;

}

.mdl-button {
	min-width: 0 !important;
}

.mdl-button--fab {
	min-width: 0 !important;
	height: 45px;
	width: 45px;
}

.divider {
	position: absolute;
	bottom: 50%;
	width: 100%;
	height: 1px;
	border-top: #D3D3D3 solid 1px;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark { color: rgba(255, 255, 255, 0.54); }

#currentCoordinates {
	z-index: 100;
	background-color: black;
}

/* On screens that are 414px or less, set the background color to blue */
@media screen and (max-width: 414px) {
	  .navImg {
		max-width: 10%;
		height: auto;
		position: absolute;
		top: 2.5%;
		left: 6%;

	}

	.animalImg {
		position: absolute;
		max-width: 30%;
		height: auto;
		top: 32%;
		left: 12%;
	}

	.terrainImg {
		position: absolute;
		height: 295px;
		top: 22%;
		left: -20%;
	}
}

/* On screens that are 375px or less, set the background color to blue */
@media screen and (max-width: 375px) {
	  .navImg {
		max-width: 10%;
		height: auto;
		position: absolute;
		top: 2.5%;
		left: 6%;

	}

	.animalImg {
		position: absolute;
		max-width: 30%;
		height: auto;
		top: 32%;
		left: 12%;
	}

	.terrainImg {
		position: absolute;
		height: 265px;
		top: 22%;
		left: -20%;
	}
}

/* On screens that are 360px or less, set the background color to blue */
@media screen and (max-width: 360px) {
	  .navImg {
		max-width: 10%;
		height: auto;
		position: absolute;
		top: 2.5%;
		left: 6%;

	}

	.animalImg {
		position: absolute;
		max-width: 30%;
		height: auto;
		top: 32%;
		left: 12%;
	}

	.terrainImg {
		position: absolute;
		height: 265px;
		top: 22%;
		left: -22%;
	}
}

/* On screens that are 320px or less, set the background color to olive */
@media screen and (max-width: 320px) {
	  .navImg {
		max-width: 10%;
		height: auto;
		position: absolute;
		top: 2.5%;
		left: 6%;

	}

	.animalImg {
		position: absolute;
		max-width: 30%;
		height: auto;
		top: 32%;
		left: 10%;
	}

	.terrainImg {
		position: absolute;
		height: 240px;
		top: 22%;
		left: -23%;
	}
}

